@import "tailwindcss";

@font-face {
    font-family: Pacifico;
    src: url("./fonts/Pacifico-Regular.ttf") format("truetype");
}

@theme{
    --font-title: 'Pacifico', cursive;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fdebca;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus, textarea:focus{
  outline: none !important;
}